.address {
  position: relative;
  z-index: $ui-index-1;

  &__list {
    position: absolute;
    z-index: $ui-index-3;
    width: 100%;
    left: 0;
    top: 100%;
    border: 1px solid $color-black;
    background-color: $color-white
  }

  &__item {
    padding: 7px 10px;
    font-size: 12px;
    color: $color-black;


    &:hover, &--focused {
      color: $color-white;
      background-color: $color-black;
      cursor: pointer;
    }
  }
}
