.cart {

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    @include only-mobile {
      font-size: 25px;
      line-height: 29px;
      text-align: center;
    }
  }

  @include portable {
    padding: 15px;
  }

  @include only-mobile {
    padding: 10px;
  }


  &__item {
  }

  &__costs {
    width: 100%;
    padding: 10px;
    background-color: $color-white-opacity;
  }

  &__cost {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    color: $color-black;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}

.item-cart {
  padding: 10px;
  background-color: $color-white-opacity;

  &__img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__article {
    font-size: 16px;
    line-height: 18px;
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: $color-black;
  }

  &__handlers {
    display: flex;
  }

  &__counter {
    display: flex;
    margin-right: auto;
  }

  &__delete {
    margin-left: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    svg {
      fill: transparentize($color-error, 0.2);
    }
  }
}

.counter {
  &__text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    min-width: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: center;
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-black;
    width: 30px;
    height: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    background-color: transparent;
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
    cursor: pointer;

    @include desktop {
      &:hover {
        background-color: $color-primary;
      }
    }

    @include xs-desktop {
      width: 26px;
      height: 26px;
    }

    &:active {
      transform: scale(1.05);
    }

    &::before, &::after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: 25%;
      display: block;
      width: 50%;
      height: 2px;
      background-color: $color-black;
    }

    &::after {
      transform: rotate(90deg);
    }

    &--minus {
      &::after {
        display: none;
      }
    }


  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    text-align: center;

    @include xs-desktop {
      font-size: 18px;
      min-width: 40px;
    }
  }
}
