.delivery-type {
  margin: 0 0 40px 0;

  &__head {
    margin: 0 0 15px 0;
  }

  &__tabs {
    display: flex;
    margin-bottom: 35px;

    @include only-mobile {
      margin-bottom: 20px;
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-weight: 400;
    color: $color-black;

    @include only-mobile {
      margin-bottom: 15px;
    }
  }

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    min-width: 240px;
    min-height: 60px;
    border: 1px solid $color-black;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: $color-black;

    @include only-mobile {
      min-width: auto;
      width: 100%;
      min-height: 55px;
    }

    &--first {
      border-right: 0;

      @include only-mobile {
        border-right: 1px solid $color-black;
        border-bottom: 0;
      }
    }

    &--active {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &__body {
    position: relative;
  }

  &__filter-pickup {
    position: absolute;
    z-index: 12;
    top: 10px;
    left: 10px;
  }

  &__message {
    margin: 0;
    font-weight: 400;
    color: $color-error;
  }

  &__error {
    position: absolute;
    color: $color-error;
    font-size: 12px;
    top: calc(100% + 2px);
  }
}
