.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title, &__answer {
    font-size: 20px;
    color: $color-gray-50;

    @include only-mobile {
      font-size: 18px;
    }

    @include xs-mobile {
      font-size: 16px;
    }
  }

  &__title {
    font-weight: 300;
  }

  &__answer {
    margin: 0 0 70px 0;
    font-weight: 700;

    @include only-mobile {
      margin: 0 0 50px 0;
    }
  }

  &__photo {
    margin-bottom: 30px;
    width: 216px;
    height: 216px;
    border-radius: $round;
  }

  &__phone {

  }

  &__email {
    margin-bottom: 35px;
  }
}

.email-block, .phone-block {
  &__label, &__link {
    font-size: 18px;
    line-height: 1.55;
    color: $color-white;

    @include only-mobile {
      font-size: 16px;
      line-height: 1.35;
    }
  }
}
