.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__photo {
    margin-bottom: 50px;
    width: 248px;
    height: 248px;
    border-radius: $border-rounded;
    object-position: 50% 9%;
    object-fit: cover;

    @include only-tablet {
      width: 200px;
      height: 200px;
    }

    @include only-mobile {
      margin-bottom: 25px;
      width: 165px;
      height: 165px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @include only-mobile {
      flex-direction: column;
    }
  }

  &__btn {
    &:not(:last-child) {
      margin: 0 25px 0 0;

      @include only-mobile {
        margin: 0 0 10px 0;
      }
    }
  }
}
