.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
  }

  &__photo {
    margin-bottom: 50px;
    width: 216px;
    height: 216px;
    border-radius: $border-rounded;
    object-position: top;
    object-fit: cover;


    @include only-mobile {
      margin-bottom: 25px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @include only-mobile {
      flex-direction: column;
    }
  }

  &__btn {
    &:not(:last-child) {
      margin: 0 25px 0 0;

      @include only-mobile {
        margin: 0 0 10px 0;
      }
    }
  }
}
