.header {
  position: absolute;
  z-index: $ui-index-3;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $section-background;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header-height;

    @include only-mobile {
      height: $header-height-mobile;
    }
  }

  &__logo {
    &:active {
      color: $color-primary;
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    display: block;
    height: 17px;
    width: auto;
    color: $color-white;
    transition: color 0.15s ease-in-out;

   @include desktop {
     &:hover {
       color: $color-primary;
     }
   }

    &--catalog {
      margin-right: 25px;
    }
  }
}

.cart-btn {
  position: relative;

  &__counter {
    content: '';
    position: absolute;
    top: 9px;
    left: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: $border-rounded;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: $color-white;
    background-color: $color-primary;
  }
}

.menu-opened {
  .header {
    position: fixed;
  }
}
