.header {
  position: fixed;
  z-index: $ui-index-3;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $section-background;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 23px 0;
    width: 100%;
    height: $header-height;

    @include only-mobile {
      flex-wrap: wrap;
      padding: 0;
      height: $header-height-mobile;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    padding: 20px 0;

    @include only-mobile {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__logo {
    &:active {
      color: $color-primary;
    }

    &--hide-mobile {
      @include only-mobile {
        display: none;
      }
    }

    &--hide-desktop-tablet {
      @include tablet {
        display: none;
      }
    }
  }

  &__search {

    &--with-divider {
      @include tablet {
        position: relative;
        margin-left: 60px;

        &::before {
          content: '';
          position: absolute;
          left: -30px;
          top: calc(50% - 22px);
          display: block;
          width: 1px;
          height: 44px;
          background-color: $color-gray-600;
        }
      }
    }
  }

  &__links {
    display: flex;

    @include only-mobile {
      justify-content: center;
      padding: 16px 0;
      width: 100%;
      border-top: 1px solid $color-gray-600;
    }
  }

  &__link {
    display: block;
    height: 17px;
    width: auto;
    color: $color-white;
    transition: color 0.15s ease-in-out;

    &:not(:last-child) {
      margin-right: 25px;
    }

   @include desktop {
     &:hover {
       color: $color-primary;
     }
   }
  }
}

.cart-btn {
  position: relative;

  &__counter {
    content: '';
    position: absolute;
    top: 9px;
    left: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: $border-rounded;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: $color-white;
    background-color: $color-primary;
  }
}

.menu-opened {
  .header {
    position: fixed;
  }
}

.search-btn {
  display: block;
  width: 17px;
  height: 17px;
}