.hero-swiper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;


  &__wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
    @include bg-cover;

    &--1 {
      background-position: 0 50%;
      background-image: url('~@/assets/img/hero/hero-1.jpeg');

      @include only-tablet {
        background-position: 0 45%;
      }

      @include only-mobile {
        background-position: 75% 40%;
      }
    }

    &--2 {
      background-image: url('~@/assets/img/hero/hero-2.jpeg')
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      --swiper-pagination-bullet-horizontal-gap: 6px;
      width: 16px;
      height: 16px;
      background-color: $color-gray-50;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-primary;
    }
  }
}

