.hero {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 47%;

    @include only-tablet {
      padding-top: 60%;
    }

    @include only-mobile {
      padding-top: 150%;
    }
  }


  &__wrapper {
    position: absolute;
    z-index: $ui-index-2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
  }

  &__swiper-holder {
    position: absolute;
    z-index: $ui-index-1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__title {
    margin: 0 0 12px 0;
    font-weight: 700;
    color: $color-white;

    @include portable {
      margin: 0 0 10px 0;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: $color-white;

    @include portable {
      font-size: 30px;
      line-height: 34px;
    }

    @include only-mobile {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__logo {
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
  }
}
