.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: block;
  padding: calc(#{$header-height} + 20px) 0 20px;
  background-color: $color-acadia;
  transform: translateX(101%);
  transition: transform 0.5s ease-in-out;

  @include only-mobile {
    top: $header-height-mobile;
    height: calc(100vh - #{$header-height-mobile});
  }



  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.mobile-menu-open {
  .mobile-menu {
    display: block;
    transform: translateX(0);
  }
}
