.payment-types {
  position: relative;
  border: 0;
  padding: 0;
  margin: 0 0 40px 0;

  &__legend {
    padding: 0;
    margin: 0 0 10px 0;
    color: $color-black;
  }

  &__select {
    .select2-container {
      .select2-selection {
        height: 60px;
        border: 1px solid $color-black;
        border-radius: 0;

        .select2-selection__rendered {
          display: flex;
          align-items: center;
          padding: 0 32px;
          height: 100%;
          font-size: 16px;
          line-height: 100%;
        }

        .select2-selection__arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 69px;
          height: 100%;
          transition: transform 0.3s ease-in-out;

          &::before {
            content: '';
            display: block;
            width: 13px;
            height: 6px;
            background: url('~@/assets/img/svg/arrow-svg.svg') center / contain no-repeat;
          }

          b {
            display: none;
          }
        }
      }

      &.select2-container--open {
        .select2-selection {
          .select2-selection__arrow {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.select2-container {
  .payment-types-dropdown {
    border: 1px solid $color-black;
    border-radius: 0;

    .select2-results {
      .select2-results__options {
        .select2-results__option {
          display: flex;
          align-items: center;
          padding: 0 32px;
          height: 60px;
          font-size: 16px;
          line-height: 100%;
          color: $color-black;

          &:not(:last-child) {
            border-bottom: 1px solid $color-black;
          }
        }
        .select2-results__option--highlighted {
          background-color: transparent;
        }

        .select2-results__option[aria-selected=true] {
          background-color: transparent;
        }
      }
    }
  }
}