.promo-video {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 100%;

  &::before {
    content: '';
    padding-top: 56.25%;
  }

  &__wrapper {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: relative;
    z-index: $ui-index-6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-in-out;

    &--hide {
      opacity: 0;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: $ui-index-2;
      left: 0;
      top: 0;
      //display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(121,121,121,1) 0%, rgba(255,255,255,0) 65%);
    }
  }

  &__text {
    position: absolute;
    left: 45px;
    top: 25px;
    z-index: $ui-index-3;
    margin: 0;
    font-size: 24px;
    line-height: 1.35;
    color: $color-white;

    @include only-mobile {
      left: 10px;
      top: 10px;
      font-size: 16px;
    }
  }

  &__cover {
    position: absolute;
    z-index: $ui-index-1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__start-btn {
    position: absolute;
    z-index: $ui-index-4;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: $border-rounded;
    background-color: $color-primary;

    svg {
      position: absolute;
      z-index: $ui-index-5;
      left: calc(50% - 15px);
      top: calc(50% - 20px);
      display: block;
      width: 40px;
      height: 40px;
      color: $color-white;
    }
  }
}
