.some-info {
  display: flex;
  background-color: $color-white;

  @include only-mobile {
    flex-direction: column;
  }

  &__outer-photo {
    width: 50%;

    @include only-mobile {
      width: 100%;
    }

    .swiper {
      height: 100%;
    }
  }

  &__photo {
    display: block;
    width: 100%;
    height: 100%;
    @include bg-cover;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
  }

  &__outer-text {
    width: 50%;

    @include only-mobile {
      width: 100%;
    }
  }

  &__text {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 25px;
    background-color: $color-white;


    @include portable {
      padding: 40px 25px;
    }

    @include only-mobile {
      padding: 40px 15px;
      min-height: 100vw;
    }
  }

  &__headline {
    margin-bottom: 23px;
    text-align: center;
    color: $color-black;

    @include only-tablet {
      margin-bottom: 10px;
    }

    @include only-mobile {
      margin-bottom: 15px;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: $color-black;

    @include only-tablet {
      font-size: 16px;
    }

    @include only-mobile {
      font-size: 14px;
    }
  }
}



