.grid {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin: -15px;

  @include only-mobile {
    flex-direction: column;
    margin: -10px;
  }

  &--gap-0 {
    margin: 0;

    .grid__col {
      padding: 0;
    }
  }

  &--xl-gap {
    margin: -40px;

    @include only-tablet {
      margin: -25px;
    }

    .grid__col {
      padding: 40px;

      @include only-tablet {
        padding: 25px;
      }
    }
  }

  &--xxl-gap {
    margin: -80px;

    @include only-tablet {
      margin: -60px;
    }

    @include only-mobile {
      margin-top: -40px;
      margin-bottom: -40px;
    }

    .grid__col {
      padding: 80px;

      @include only-tablet {
        padding: 60px;
      }

      @include only-mobile {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }

  &--column {
    flex-direction: column;
  }

  &--column-tablet {
    @include only-tablet {
      flex-direction: column;
    }
  }

  &--wrap {
    @include tablet {
      flex-wrap: wrap;
    }
  }

  &--mobile-wrap {
    @include only-mobile {
      flex-wrap: wrap;
    }
  }

  &--mobile-row {
    @include only-mobile {
      flex-direction: row;
    }
  }

  &__col {
    display: flex;
    align-items: stretch;
    padding: 15px;
    width: 100%;

    &--w-50 {
      width: 50%;
    }

    &--w-100 {
      width: 100%;
    }

    @include desktop {

      &--w-33-desktop {
        width: 33.33333%;
      }

      &--w-40-desktop {
        width: 40%;
      }

      &--w-50-desktop {
        width: 50%;
      }

      &--w-60-desktop {
        width: 60%;
      }

      &--w-67-desktop {
        width: 66.66666%;
      }

      &--w-100-desktop {
        width: 100%;
      }
    }

    @include tablet {
      &--w-25-tab-to-desk {
        width: 25%;
      }

      &--w-33-tab-to-desk {
        width: 33.333333%;
      }

      &--w-50-tab-to-desk {
        width: 50%;
      }

      &--w-67-tab-to-desk {
        width: 66.666667%;
      }

      &--w-100-tab-to-desk {
        width: 100%;
      }
    }

    @include only-tablet {

      &--w-30-tablet {
        width: 30%;
      }

      &--w-70-tablet {
        width: 70%;
      }
    }

    @include only-mobile {
      padding: 10px;

      &--w-55-mobile {
        width: 55%;
      }

      &--w-45-mobile {
        width: 45%;
      }

      &--w-100-mobile {
        width: 100%;
      }
    }
  }
}

