.grid {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin: -15px;

  @include only-mobile {
    flex-direction: column;
    margin: -10px;
  }

  &--xl-gap {
    margin: -40px;

    @include only-tablet {
      margin: -25px;
    }

    .grid__col {
      padding: 40px;

      @include only-tablet {
        padding: 25px;
      }
    }
  }

  &--xxl-gap {
    margin: -80px;

    @include only-tablet {
      margin: -60px;
    }

    @include only-mobile {
      margin-top: -40px;
      margin-bottom: -40px;
    }

    .grid__col {
      padding: 80px;

      @include only-tablet {
        padding: 60px;
      }

      @include only-mobile {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }

  &--column-tablet {
    @include only-tablet {
      flex-direction: column;
    }
  }

  &--wrap {
    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__col {
    display: flex;
    align-items: stretch;
    padding: 15px;
    width: 100%;

    @include desktop {

      &--w-33-desktop {
        width: 33.33333%;
      }

      &--w-50-desktop {
        width: 50%;
      }

      &--w-67-desktop {
        width: 66.66666%;
      }

      &--w-100-desktop {
        width: 100%;
      }
    }

    @include tablet {

      &--w-25-tab-to-desk {
        width: 25%;
      }

      &--w-33-tab-to-desk {
        width: 33.333333%;
      }

      &--w-50-tab-to-desk {
        width: 50%;
      }

      &--w-67-tab-to-desk {
        width: 66.666667%;
      }

      &--w-100-tab-to-desk {
        width: 100%;
      }
    }

    @include only-mobile {
      padding: 10px;
    }
  }
}

