@import "variables";

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.color-primary {
  color: $color-primary;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.relative {
  position: relative;
}


.mr-5 {
  margin-right: 5px;
}

.color-primary {
  color: $color-primary;
}

.bg-white {
  background-color: $color-white;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none;
}

.color-black {
  color: $color-black;
}

.uppercase {
  text-transform: uppercase;
}

.hide-mobile {
  @include only-mobile {
    display: none;
  }
}

.hide-tablet {
  @include only-tablet {
    display: none;
  }
}

.hide-desktop {
  @include desktop {
    display: none;
  }
}

.pb-0 {
  padding-bottom: 0;
}

.p-0-portable {
  @include portable {
    padding: 0;
  }
}

.w-100 {
  width: 100%;
}

.opacity-0 {
  opacity: 0;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}