$xl-desktop: 1920px;
$lg-desktop: 1600px;
$md-desktop: 1440px;
$sm-desktop: 1320px;
$xs-desktop: 1200px;
$desktop: 1025px;
$portable: 1024px;
$tablet: 768px;
$xl-mobile: 480px;
$md-mobile: 375px;
$sm-mobile: 360px;
$xs-mobile: 320px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin xxl-desktop {
  @media (max-width: #{$xl-desktop + 1}) {
    @content;
  }
}

@mixin xl-desktop {
  @media (max-width: #{$xl-desktop}) {
    @content;
  }
}

@mixin lg-desktop {
  @media  (max-width: #{$lg-desktop}) {
    @content;
  }
}

@mixin md-desktop {
  @media (max-width: #{$md-desktop}) {
    @content;
  }
}

@mixin sm-desktop {
  @media (max-width: #{$sm-desktop}) {
    @content;
  }
}


@mixin xs-desktop {
  @media (max-width: #{$xs-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin only-tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$portable}) {
    @content;
  }
}

@mixin portable {
  @media (max-width: #{$portable}) {
    @content;
  }
}

@mixin only-mobile {
  @media (max-width: #{$tablet - 1}) {
    @content;
  }
}

@mixin xl-mobile {
  @media (max-width: #{$xl-mobile}) {
    @content;
  }
}

@mixin md-mobile {
  @media (max-width: #{$md-mobile}) {
    @content;
  }
}

@mixin sm-mobile {
  @media (max-width: #{$sm-mobile}) {
    @content;
  }
}

@mixin xs-mobile {
  @media (max-width: #{$xs-mobile}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: #{$tablet - 1}) and (orientation: landscape) {
    @content;
  }
}
